.text-center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-upper {
  text-transform: uppercase;
}
